p {
  color: white; 
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.box:hover {
    transform-origin: left top; 
    transform: scale(2);
    background-color: red;
    border-radius: 50px;
}

.animated {
    transition-property: background border-radius;
    transition-duration: 2s;
    transition-delay: 0.5s;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: turquoise;
}

.box1:hover {
    transform: translateX(200px);
}

.animated2 {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}